<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<script type="text/javascript" th:fragment="search-javascript">
		$(document).ready(function(){
			console.log('document ready');
			$("#search_product").autocomplete({
				source: function(request, response){
					$.ajax({
						url: "/product/find/" + request.term,
						dataType: "json",
						data: {
							term: request.term
						},
						success: function(data){
							response($.map(data, function(item){
								return {
									value: item.id,
									label: item.name,
									price: item.price
								}
							}));
						},
					});
				},
				select: function (event, ui){
					// $("#search_product").val(ui.item.label);
					
					if(itemsHelper.hasProduct(ui.item.value)){
						itemsHelper.increaseQuantity(ui.item.value, ui.item.price);
						return false;
					}
					
					var line = $("#productsTemplateBill").html();
					line = line.replace(/{ID}/g, ui.item.value);
					line = line.replace(/{NAME}/g, ui.item.label);
					line = line.replace(/{PRICE}/g, ui.item.price);
					
					$("#loadProducts tbody").append(line);
					
					itemsHelper.calculateImport(ui.item.value, ui.item.price, 1);
					return false; 
				}
			});
			
			$("form").submit(function(){
				$("#productsTemplateBill").remove();
				return;
			});
		});
	
		var itemsHelper = {
			calculateImport: function(id, price, quantity){
				$("#total_amount_"+ id).html(parseInt(price) * parseInt(quantity));
				this.calculateTotal();
			},
			hasProduct: function(id){
				var result = false;
				$('input[name="product_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val())){
						result = true;
					}
				});
				
				return result;
			},
			increaseQuantity: function(id, price){
				var quantity  = $("#quantity_"+ id).val() ? parseInt($("#quantity_"+ id).val()) : 0;
				$("#quantity_"+ id).val(++quantity);
				this.calculateImport(id,price,quantity);
			},
			deleteProduct: function(id){
				$("#row_"+id).remove();
				this.calculateTotal();
			}, 
			calculateTotal: function(){
				var total = 0;
				$('span[id^="total_amount_"]').each(function(){
					total += parseInt($(this).html()); 
				});	
				$("#total_value").html(total);
			}

		}
	</script>
</body>
</html>