<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container mt-5">
		<div class="card border-primary text-center">
			<div class="card-header" th:text="#{text.login.title}">Sing In</div>
			<div class="card-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group">
						<label for="username" th:text="#{text.login.user}" >User</label> <input type="text"
							class="form-control" required autofocus id="username"
							name="username">
						<!-- 
				<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>
				 -->
					</div>
					<div class="form-group">
						<label for="password" th:text="#{text.login.password}">Password</label> <input type="password"
							class="form-control" required id="password" name="password">

						<!-- 
								<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>
				 		-->
					</div>
					<button type="submit" class="btn btn-primary btn-block" th:text="#{text.login.button}">Sign
						In!</button>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>